# Build artifacts
build/
dist/
*.egg-info/
*.so
*.dylib
*.dll

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
.env/

# CMake / Ninja / Make
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.ninja
*.ninja_deps
*.ninja_log
Makefile

# Editor/IDE
.idea/
.vscode/
*.swp

# Custom 
.playground/
